### TheDoctor0 - Base Pack ###

# ========================================================
#       ReAuthCheck Конфигурация
# ========================================================

# Уровень Логирования
# Числовое Значение (0 | 3)
# 0 - Выключить, 1 - Обнаружения,  2 - Дебаг, 3 - Дебаг Полный.
LogMode = 2

# Включить Метод Обнаружения Невалидных Игроков #1
# Числовое Значение (0 | 1)
CheckMethod1 = 1

# Включить Метод Обнаружения Невалидных Игроков #2
# Числовое Значение (0 | 1)
CheckMethod2 = 1

# Включить Метод Обнаружения Невалидных Игроков #3
# Числовое Значение (0 | 1)
CheckMethod3 = 1

# Включить Метод Обнаружения Невалидных Игроков #4
# Числовое Значение (0 | 1)
CheckMethod4 = 1

# Включить Метод Обнаружения Невалидных Игроков #5
# Числовое Значение (0 | 1)
CheckMethod5 = 1

# Включить Метод Обнаружения Невалидных Игроков #6
# Числовое Значение (0 | 1)
CheckMethod6 = 1

# Включить Метод Обнаружения Невалидных Игроков #7
# Числовое Значение (0 | 1)
CheckMethod7 = 1

# Включить Метод Обнаружения Невалидных Игроков #8
# Числовое Значение (0 | 1)
CheckMethod8 = 1

# Включить Метод Обнаружения Невалидных Игроков #9
# Числовое Значение (0 | 1)
CheckMethod9 = 1

# Включить Метод Обнаружения Невалидных Игроков #10
# Числовое Значение (0 | 1)
CheckMethod10 = 1

# Включить Обнаружение XFake Players
# Числовое Значение (0 | 1)
CheckXFake = 1

# Включить Обнаружение HLProxy
# Числовое Значение (0 | 1)
CheckHLProxy = 1

# Включить Лимит для Игроков по IP Адресу
# Числовое Значение (0 | 1)
CheckMaxIp = 1

# Сколько Игроков с Одинаковым IP Могут Авторизоваться на Сервере
# Числовое Значение (1 | 31)
MaxIpNum = 3

# Включить Лимит для Игроков по Количеству Дисконнектов
# Числовое Значение (0 | 1)
CheckMaxDrop = 1

# Количество Максимальных Дисконнектов Для Наказания
# Числовое Значение (2 | 50)
MaxDropNum = 7

# За Какой Период Времени Считать Предупреждения Для "CheckMaxDrop"
# Дробное Значение (2.0 | 300.0)
MaxDropTime = 15.0

# Включить Отслеживание Состояния Соединения Игрока
# Числовое Значение (0 | 1)
StateTimeoutConnect = 1

# Время Для Обнаружения Простоя Авторизации 1 Стадия (Начало Соединения Игрока)
# Дробное Значение (5.0 | 120.0)
IdleTime1 = 15.0

# Время Для Обнаружения Простоя Авторизации 2 Стадия (Ожидание Команды От Игрока #1)
# Дробное Значение (7.0 | 120.0)
IdleTime2 = 14.0

# Время Для Обнаружения Простоя Авторизации 3 Стадия (Ожидание Команды От Игрока #2)
# Дробное Значение (7.0 | 120.0)
IdleTime3 = 10.0

# Время Для Обнаружения Простоя Авторизации 4 Стадия (Ожидание Ответа От Игрока #3)
# Дробное Значение (7.0 | 120.0)
IdleTime4 = 10.0

# Время Для Обнаружения Простоя Авторизации 5 Стадия (Проверка Ресурсов)
# Дробное Значение (10.0 | 180.0)
IdleTime5 = 70.0

# Время Для Обнаружения Простоя Авторизации 6 Стадия (Загрузка Файлов)
# Дробное Значение (60.0 | 1800.0)
IdleTime6 = 900.0

# Время Для Обнаружения Простоя Авторизации 7 Стадия (Валидация Игрока)
# Дробное Значение (7.0 | 120.0)
IdleTime7 = 8.0

# Время Для Обнаружения Простоя Авторизации 8 Стадия (Игрок Авторизовался)
# Дробное Значение (7.0 | 120.0)
IdleTime8 = 10.0

# Время Для Обнаружения Простоя Авторизации 9 Стадия (Полная Авторизация)
# Дробное Значение (7.0 | 120.0)
IdleTime9 = 20.0

# Дополнительная Строка Наказания за Обнаружение, Которая Будет Выполнена в Консоле Сервера
# Для Методов "#1, #2, #5, #6", "CheckXFake"
# Строковое Значение "Максимальной длиной до 96 символов"
PunishStringXFake = addip 1440.0 [ip]

# Дополнительная Строка Наказания за Обнаружение, Которая Будет Выполнена в Консоле Сервера
# Для Метода "CheckHLProxy"
# Строковое Значение "Максимальной длиной до 96 символов"
PunishStringHLProxy = addip 1440.0 [ip]

# Дополнительная Строка Наказания за Обнаружение, Которая Будет Выполнена в Консоле Сервера
# Для Метода "CheckMaxIp"
# Строковое Значение "Максимальной длиной до 96 символов"
PunishStringMaxIP = addip 180.0 [ip]

# Дополнительная Строка Наказания за Обнаружение, Которая Будет Выполнена в Консоле Сервера
# Для Метода "CheckMaxDrop"
# Строковое Значение "Максимальной длиной до 96 символов"
PunishStringMaxDrop = addip 60.0 [ip]

#
# Примечание
#
# Для Всех Методов По Умолчанию Наказание Kick
# Для Выключения Дополнительной Строки Нужно Очистить Значение
#
# Форматирование Строк Для Дополнительного Наказания
# [name] - Имя Игрока
# [ip] - IP Адрес Игрока
# [userid] - Идентификатор Игрока
# [steamid] - SteamID Игрока
#

#
# Список IP Адресов для Игнорирования Настройки "CheckMaxIp" и "CheckMaxDrop"
# Отключение Строки ";"
#

[List White IP]
;127.0.0.1
